@(shoppingOrder: models.ShoppingOrder)(orderProductList : List[models.OrderProduct])(soId:String)(sopIds:String)(accounts: Html)(creditcards: Html)(currencys: Html)
@import utils.Dates
@views.html.main{

}{
<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		处理订单
	</h1>
</section>

<!-- Main content -->
<section class="content">
	<div class="col-xs-12">
         <div class="box box-warning">
           <div class="box-header">
           </div><!-- /.box-header -->
           <div class="box-body">
             <form role="form" action="/order/saveOrder" method="get" id="dealOrderForm">
              <div class="row">
                <label>订单号：</label>@shoppingOrder.getOrderCode()
              </div>
              <div class="row">
                <label>收货人信息：</label><a class="btn btn-success btn-sm" href="javascript:void(0);" title="编辑收货人信息" id="editUser">编辑</a>
             
	              <div class="row">
	                <div class="col-xs-2">
	                	  收货人：
	                  <input id="name" name="name" type="text" class="form-control" placeholder="请输入收货人" value="@shoppingOrder.getName()" readonly="readonly"/>
	                </div>
	                <div class="col-xs-2">
	                 	 收货人电话：
	                  <input id="phone" name="phone" type="text" class="form-control" placeholder="请输入收货人电话" value="@shoppingOrder.getPhone()" readonly="readonly"/>
	                </div>
	                <div class="col-xs-2">
	                	  省份：
	                  <input id="province" name="province" type="text" class="form-control" placeholder="请输入收货人所在省份" value="@shoppingOrder.getProvince()" readonly="readonly"/>
	                </div>
	                <div class="col-xs-4">
	                 	 地址：
	                  <input id="address" name="address" type="text" class="form-control" placeholder="请输入收货人地址" value="@shoppingOrder.getAddress()" readonly="readonly"/>
	                </div>
	              </div>
             </div>
             <br/>
              <div class="row">
                <label>费用信息：</label>
                <div class="row">
	                <div class="col-xs-2">
	                	  订单总金额：@shoppingOrder.getTotalFee()
	                </div>
	                <div class="col-xs-2">
	                	  优惠券：@shoppingOrder.getCoupon_price()
	                </div>
	                 <div class="col-xs-2">
	                	  钱包：@shoppingOrder.getUsebalance()@if(shoppingOrder.getUsebalance()==null){0.0}
	                </div>
	                 <div class="col-xs-2">
	                	  商品总金额：@shoppingOrder.getGoods_fee()
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-xs-2">
	                 	 国外运费：@shoppingOrder.getForeignfee()
	                </div>
	                <div class="col-xs-2">
	                	  国内运费：@shoppingOrder.getDomestic_fee()
	                </div>
	                <div class="col-xs-2">
	                 	 支付方式：@{
			                      	var paymethodV=shoppingOrder.getPaymethod();
			                      	paymethodV match{
			                      		case -1 => "默认全部"
			                      		case 10 => "微信app"
			                      		case 11 => "微信网页"
			                      		case 20 => "支付宝快捷"
			                      		case 21 => "支付宝wap"
			                      		case 22 => "支付宝国际"
			                      		case 90 => "优惠券"
			                      		case _ => "未知" 
			                      	}
			                    }
	                </div>
	              </div>
              </div>
              <br/>
              <div class="row">
                <label>商品信息：</label>
             	<input id="soId" name="soId" type="text" class="form-control" style="display: none" placeholder="订单" readonly="readonly" value="@soId"/>
             	<input id="sopIds" name="sopIds" type="text" class="form-control" style="display: none" placeholder="订单商品集合" readonly="readonly" value="@sopIds"/>
                <table id="dealOrderTable" class="table table-bordered table-hover" >
	            	<thead>
	            		<th>PID</th>
	            		<th>newSku</th>
	            		<th>商品图片</th>
	            		<th>商品名称</th>
	            		<th>来源网站</th>
	            		<th>现价</th>
	            		<th>数量</th>
	            		<th>总价</th>
                	</thead>
                	<tbody>
                	  	@if(orderProductList!=null && orderProductList.size() > 0){
	                	@for(orderProduct <- orderProductList){
		                    <tr class="h6" data-uid="@orderProduct.getId()">
		                        <td>
		                        	@orderProduct.getProduct().getPid()
		                        </td>
		                        <td>
		                        	@orderProduct.getProduct().getNewSku()
		                        </td>
		                        <td>
		                        	<img width="40" height="40" valign="middle" alt="@orderProduct.getProduct().getTitle()" src="@orderProduct.getProduct().getListpic()">
		                        </td>
		                        <td>
		                        	@orderProduct.getProduct().getTitle()
		                        </td>
		                        <td>
		                        	<input type="hidden" id="fromsite" name="fromsite" value="@orderProduct.getProduct().getFromsite()">
		                        	<span name="spanFromsite"></span>
		                        	@{
				                      	var fromsiteV=orderProduct.getProduct().getFromsite();
				                      	fromsiteV match{
				                      		case -1 => "全部"
				                      		case 0 => "嗨个购"
				                      		case 1 => "美国亚马逊"
				                      		case 2 => "韩国"
				                      		case 3 => "日本乐天"
				                      		case 4 => "日本亚马逊"
				                      		case 5 => "莎莎"
				                      		case 6 => "IHERB"
				                      		case 7 => "韩国乐天"
				                      		case 8 => "嗨个购特惠"
				                      		case _ => "未知" 
				                      	}
				                      }
		                        </td>
		                        <td>
		                        	@orderProduct.getPrice()
		                        </td>
		                        <td>
		                        	@orderProduct.getCounts()
		                        </td>
		                        <td>
		                        	@orderProduct.getTotalFee()
		                        </td>
		                    </tr>
		                  }
		                }
                	</tbody>
                </table>
              </div>
              <br/>
              <div class="row">
                <label>下单信息：</label>
                <div class="row">
	                <div class="col-xs-2">
	                	  海外订单号：
	                	 <input id="foreignOrder" name="foreignOrder" type="text" class="form-control" placeholder="请填写海外订单号" value=""/>
	                </div>
	                <div class="col-xs-2">
	                	  下单账户：
	                	 <select id="account" name="account" class="form-control">
		                  	@accounts
		                 </select>
	                </div>
	                <div class="col-xs-2">
	                	 信用卡号：
	                	 <select id="creditcard" name="creditcard" class="form-control">
		                  	@creditcards
		                 </select>
	                </div>
	                <div class="col-xs-2">
	                	  支付金额：
	                	 <select id="currency" name="currency" class="form-control">
		                  	@currencys
		                 </select>
	               	</div>
	                <div class="col-xs-2">
	                	 <label> </label>
	                	 <input id="totalFee" name="totalFee" type="text" class="form-control" placeholder="请输入支付金额" value="" onkeyup="this.value=this.value.replace(/[^\d\.]/g,'')"/>
	               	</div>
              </div>
          </div>
	          <br/>
              <div class="row">
	                <label>运送方式：</label>
	              	<div class="radio-inline">
		                <label class="radio-inline">
						  <input type="radio" name="traffic" id="zhiyou" value="1"> 直邮
						</label>
						<label class="radio-inline">
						  	<input type="radio" name="traffic" id="zhuanyun" value="2"> 转运
						</label>
						&nbsp;&nbsp;
						<label class="radio-inline">
						<select id="trafficSelect" name="traffic_mark" class="form-control" style="display: none;">
		                  	<option value="I.O.JAPN">I.O.JAPN</option>
		                  	<option value="海购丰运">海购丰运</option>
		                  	<option value="至诚速递">至诚速递</option>
		                  	<option value="JapanTenso">JapanTenso</option>
		                  	<option value="转运中国">转运中国</option>
		                </select>
		                </label>
					</div>
              </div>
			  <div class="box-footer">
               	<button class="btn btn-primary" type="button" id="dealOrderBtn">提交</button>
               	<button class="btn btn-primary" type="button" onclick="history.go(-1)">返回</button>
             </div>
           </form>
         </div><!-- /.box-body -->
       </div><!-- /.box -->
     </div><!--col-xs-12 end 访问查询 -->	
</section>
<!-- /.content -->
}{
<script type="text/javascript">
	$("#editUser").click(function(){
		$('#name').removeAttr("readonly");
		$('#phone').removeAttr("readonly");
		$('#province').removeAttr("readonly");
		$('#address').removeAttr("readonly");
	})

	$("[name='traffic']").change(function(){
		console.log($("[name='traffic']:checked").val());
		if($("[name='traffic']:checked").val() == '1'){
			$("#trafficSelect").css("display","none");
		}
		if($("[name='traffic']:checked").val() == '2'){
			$("#trafficSelect").css("display","block");
		}
	})
	
	$("#dealOrderBtn").click(function(){
		var name = $("#name").val();
		var phone = $("#phone").val();
		var province = $("#province").val();
		var address = $("#address").val();
		var foreignOrder = $("#foreignOrder").val();
		var totalFee = $("#totalFee").val();
		var traffic = $('input[name="traffic"]:checked').val();
		console.log(traffic);
		if(name!=''&&phone!=''&&province!=''&&address!=''&&foreignOrder!=''&&totalFee!=''&&typeof(traffic)!='undefined'){
			$("#dealOrderBtn").attr('disabled','disabled');
			$("#dealOrderForm").submit();
		}else{
			alert("存在信息不完整，请检查收货人信息和下单信息");
			return false;
		}
	})
	
	
</script>
}
