@(types : Html)(fromsites : Html)(productStatus : Html)(categorys : Html)(adminids : Html)(productPage : org.springframework.data.domain.Page[models.product.Product])(adminUser : models.admin.AdminUser)
@import utils.Dates
@import utils.Constants.TypsProduct
@import utils.Constants.PTyps
@import utils.Constants.ProductStatus
@import play.Configuration
@views.html.main {
<!-- css -->
}{
<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		商品管理 
	</h1>
	
</section>

<!-- Main content -->
<section class="content">
	<div class="col-xs-12">
         <div class="box box-warning">
           <div class="box-header">
           </div><!-- /.box-header -->
           <div class="box-body">
             <form action="?" method="get" id="searchproductForm" name="searchproductForm">
              <div class="row">
              <!-- text input -->
                <div class="col-xs-3">
                  <label>商品ID</label>
                  <input id="pidOrNewSku" name="pidOrNewSku" type="text" class="form-control" placeholder="请输入商品ID / newSku" value="@request().getQueryString("pidOrNewSku")"/>
                </div>
                <div class="col-xs-3">
                  <label>商品名称</label>
                  <input id="keyWords" name="keyWords" type="text" class="form-control" placeholder="请输入商品名称" value="@request().getQueryString("keyWords")"/>
                </div>
                <div class="col-xs-3" style="display:none;">
                  <label>品类</label>
                  <select id="category" name="category" class="form-control">
                  	@categorys
                  </select>
                </div>
                 <div class="col-xs-3" @if(adminUser.getAdminType()=="2"){style="display:none;"}>
                  <label>类型</label>
                  <select id="type" name="type" class="form-control">
                  	@types
                  </select>
                </div>
                 <div class="col-xs-3" id="lyDiv">
                  <label>联营商户</label>
                  <select id="adminid" name="adminid" class="form-control">
                  	@adminids
                  </select>
                </div>
              </div>
              <br/> 
              <div class="row">
                <div class="col-xs-3" @if(adminUser.getAdminType()=="2"){style="display:none;"}>
                  <label>来源网站</label>
                  <select id="fromsite" name="fromsite" class="form-control">
                  	@fromsites
                  </select>
                </div>
                <div class="col-xs-3" style="display:none;">
                  <label>嗨购售价(Min)</label>
                  <input id="priceSmall" name="priceSmall" type="text" class="form-control" placeholder="请输入售价最小值" value="@request().getQueryString("priceSmall")"/>
                </div>
                <div class="col-xs-3" style="display:none;">
                	<label>嗨购售价(Max)</label>
                  <input id="priceBig" name="priceBig" type="text" class="form-control" placeholder="请输入售价最大值" value="@request().getQueryString("priceBig")"/>
                </div>
                <div class="col-xs-3">
                  <label>状态</label>
                  <select id="status" name="status" class="form-control">
                  @productStatus
                  </select>
                </div>
              </div>
			  <div >
               	<button class="btn btn-primary" style="margin-top:10px;margin-left: 15px;" type="submit">查询</button>
               	<button class="btn btn-primary" style="margin-top:10px;margin-left: 10px;" type="button" onclick="javascript:window.location.href='/product/newOrUpdateProduct'">+ 新建</button>
             </div>
           </form>
         </div><!-- /.box-body -->
       </div><!-- /.box -->
     </div><!--col-xs-12 end 创建任务 -->
	<!-- Main row -->
	<div class="col-xs-12">
		<div class="box">
		    <div class="box-header">
		    </div>
		    <div class="box-body table-responsive">
		        <table id="proudctTable" class="table table-bordered table-hover">
		            <thead>
		                <tr>
		                	<th>选择</th>
		                    <th>PID</th>
		                    <th>newSku</th>
		                    <th>图片</th>
		                    <th>商品名称</th>
		                    <th @if(adminUser.getAdminType()=="2"){style="display:none;"}>类型</th>
		                    <th @if(adminUser.getAdminType()=="2"){style="display:none;"}>种类</th>
		                    <th @if(adminUser.getAdminType()=="2"){style="display:none;"}>规格</th>
		                    <th>市场价</th>
		                    <th>嗨购售价</th>
		                    <th>库存</th>
		                    <th>创建时间</th>
		                    <th>状态</th>
		                    <th>操作</th>
		                </tr>
		            </thead>
		            <tbody>
		                @if(productPage!=null && productPage.getContent() != null && productPage.getContent().size() > 0){
		                @for(product <- productPage.getContent()){
		                    <tr class="h6" data-uid="@product.getPid()">
			                    <td>
	                                <input type="checkbox" value="@product.getPid()" name="productIdCheckBox" id="pId@product.getPid()" data-status="@product.getStatus()" >
	                            </td>
		                        <td>@product.getPid()</td>
		                        <td>@product.getNewSku()</td>
		                        <td>
		                        	<a href="@product.getListpic()" target="blank">
		                        	<img style="width: 40px;height: 40px;"  alt="" src="@if(product.getListpic().indexOf(Configuration.root().getString("kjd.ImagePre","http://image.kjt.com.pre")) > -1){@product.getListpic()}else{@product.getListpic()@@40w}">
									</a>
		                        </td>
		                        <td width="100px"><a href="@if(product.getExturl()==null||product.getExturl()==""){http://h5.higegou.com/H5/product?pid=@product.getPid()}else{@product.getExturl()}" target="blank">@product.getTitle()</a></td>
		                        <td @if(adminUser.getAdminType()=="2"){style="display:none;"}>
		                        	@product.getTypeName()
		                        </td>
		                        <td @if(adminUser.getAdminType()=="2"){style="display:none;"}>@PTyps.typs2Message(product.getPtyp().toInt)</td>
		                        <td @if(adminUser.getAdminType()=="2"){style="display:none;"}>
		                        @{
		                        	var ppid=product.getPpid();
		                        	if(ppid==product.getPid()){
		                        		"大哥";
		                        	}else{
		                        		"小弟";
		                        	}
		                        }
		                        </td>
		                        <td>@product.getChaListPrice()</td>
		                        <td>@product.getHiPrice()</td>
		                        <td>@product.getNstock()</td>
		                        <td>@Dates.formatDateTime(product.getDate_add())</td>
		                        <td>@ProductStatus.status2Message(product.getStatus())</td>
		                        <td>
		                        <a class="btn btn-info" href="/product/newOrUpdateProduct?pid=@product.getPid()" >修改</a> 
		                        @if(adminUser.getAdminType()!="2"){
			                        @if(product.getStatus()==30 ){
				                        <button class="btn btn-info" data-toggle="modal" data-target="#deleteProduct" onclick="setDeleteProductValue('@product.getPid()',20);">恢复下架</button>
			                        }
			                        @if(product.getStatus()==10){
				                        <button class="btn btn-info" data-toggle="modal" data-target="#deleteProduct" onclick="setDeleteProductValue('@product.getPid()',20);">下架</button>
			                        }
			                        @if(product.getStatus()==20 || product.getStatus()==21 || product.getStatus()==1){
				                        <button class="btn btn-info" data-toggle="modal" data-target="#deleteProduct" onclick="setDeleteProductValue('@product.getPid()',10);">上架</button>
			                        }
			                        @if(product.getIsEndorsement()==0 ){
				                        <button class="btn btn-info" data-toggle="modal" data-target="#deleteProduct" onclick="endorseMent('@product.getPid()',1);">代言</button>
			                        }
			                        @if(product.getStatus()!=30 ){
				                        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteProduct" onclick="setDeleteProductValue('@product.getPid()',30);">回收站</button>
			                        }
			                        @if(product.getStatus()==30 ){
				                        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteProduct" onclick="setDeleteProductValue('@product.getPid()',40);">彻底删除</button>
			                        }
		                        }
		                        
		                        
		                        </td>
		                    </tr>
		                    }
		                }else{
		                    <tr><td class="text-center" colspan="10">没有可用数据</td></tr>
		                }
		            </tbody>
		            
		            <tfoot>
			            <tr  @if(adminUser.getAdminType()=="2"){style="display:none;"}>
	                         <th colspan="11">
	                             <input id="selectAll" name="selectAll" type="checkbox"> <label for="selectAll">全选</label> &nbsp;
	                             <button class="btn btn-success btn-sm" onclick="setProductsBatchValue(10);" >批量上架</button>
	                         </th>
	                     </tr>
	                     
                     	<!--批量上架modal start  -->
						<div class="modal fade" id="groudingModal" tabindex="-1" role="dialog" aria-labelledby="groudingModal" aria-hidden="true">
							<div class="modal_wrapper">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">
												<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
											</button>
											<h4 class="modal-title" id="backOrderLabel">批量上架</h4>
										</div>
										<div class="modal-body">
											<b>确认批量上架？</b><br>
										</div>
										<div class="modal-footer">
											<input type="text" style="display: none;" id="parIds" />
											<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
											<button id="groudingButton" type="button" class="btn btn-primary">确认</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--批量上架modal end  -->
						
		            	<!-- 修改商品状态modal start -->
                        <div class="modal fade" id="deleteProduct" tabindex="-1" role="dialog" aria-labelledby="deleteProductLabel" aria-hidden="true">
                            <div class="modal_wrapper">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                                            <h4 class="modal-title" >确认信息</h4>
                                        </div>
                                        <div class="modal-body" id="modalMessage"></div>
                                        <div class="modal-body" id="modalMessage2" style="display:none;">
                                        <div class="col-xs-3">
						                	<label>建议代言价</label>
						                  	<input id="endorsementPrice" name="endorsementPrice" type="text" class="form-control" onkeyup ="this.value=this.value.replace(/[^\d\.]/g,'')" onblur="this.value=this.value.replace(/[^\d\.]/g,'')"/>
						                </div>
                                        <div class="col-xs-3">
                                        	<label>佣金类型</label>
							                <div class="radio">
											    <label for="commisionTyp1"><input type="radio" name="commisionTyp" id="commisionTyp1" value="1" checked="checked" />金额</label>
											    <label for="commisionTyp2"><input type="radio" name="commisionTyp" id="commisionTyp2" value="2"  />百分比</label>
											</div>
										</div>
                                        <div class="col-xs-3">
						                	<label>佣金</label>
						                  	<input id="commision" name="commision" type="text" class="form-control" onkeyup ="this.value=this.value.replace(/[^\d\.]/g,'')" onblur="this.value=this.value.replace(/[^\d\.]/g,'')"/>
						                </div>
                                        <div class="col-xs-3">
						                	<label>代言上限数量</label>
						                  	<input id="maxEndorsementCount" name="maxEndorsementCount" type="text" class="form-control" onkeyup ="this.value=this.value.replace(/[^\d\.]/g,'')" onblur="this.value=this.value.replace(/[^\d\.]/g,'')"/>
						                </div>
                                        </div>
                                        <div class="modal-footer">
                                        	<input id="pidDelete" name="pidDelete" value="" type="hidden"/>
                                        	<input id="pidStatus" name="pidStatus" value="" type="hidden"/>
                                        	<input id="endorsementFlag" name="endorsementFlag" value="0" type="hidden"/>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                            <button id="deleteConfirmButton" type="button" class="btn btn-primary">确认</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 修改商品状态modal end -->
		            </tfoot>
		        </table>
		        
		        
		        @if(productPage.getTotalPages()>0) {
		        <div>
		            <div class="col-xs-6">
		                <div class="dataTables_info" id="userTable_info">页码：@{
		                    productPage.getNumber() + 1
		                }/@productPage.getTotalPages() 共计@productPage.getTotalElements()条记录</div>
		            </div>
		            <div >
		                <div class="dataTables_paginate paging_bootstrap">
		                    <ul class="pagination">
		                    
		                     @if(productPage.getNumber()<1){
                   					<li class="prev disabled"><a href="javascript:">首页</a></li>
			               	}else{
			               		<li class="prev"><a href="@searchParam()page=0">首页</a></li>
			               	}
			               	
                @for(index<- 0 to (productPage.getTotalPages()-1)){
                	@if(productPage.getTotalPages()< 8){
                		<li class="@if(index == productPage.getNumber()){active}"><a href="@searchParam()page=@index">@(index+1)</a></li>
                  	}else{
                       	@if(productPage.getNumber()<7) {
							@if(index < 8){
								<li class="@if(index == productPage.getNumber()){active}"><a href="@searchParam()page=@index">@(index+1)</a></li>
							}else{
								@if(index == productPage.getTotalPages()-1){
									<li class=""><a href="javascript:">...</a></li>
		                		}
			               		@if(index == productPage.getTotalPages()-1){
			               			<li class="@if(index == productPage.getNumber()){active}"><a href="@searchParam()page=@index">@(index+1)</a></li>
		                		}
							}
						}else{	
							@if(productPage.getNumber() < productPage.getTotalPages()-4){
							 	@if(index==0 || index > productPage.getNumber()-4 &&  index < productPage.getNumber() +5){
							 		<li class="@if(index == productPage.getNumber()){active}"><a href="@searchParam()page=@index">@(index+1)</a></li>
								}else{
									@if(index == 2){
							 			<li class=""><a href="javascript:">...</a></li>
									}
									@if(index == productPage.getTotalPages()-1){
				                		<li class=""><a href="javascript:">...</a></li>
			                		}
				               		@if(index == productPage.getTotalPages()){
				                		<li class="@if(index == productPage.getNumber()){active}"><a href="@searchParam()page=@index">@(index+1)</a></li>
			                		}
								}
							}else{
								@if(index==0 || index > productPage.getTotalPages()-8){
									<li class="@if(index == productPage.getNumber()){active}"><a href="@searchParam()page=@index">@(index+1)</a></li>
							   		}else{
							   			@if(index==2){
							   				<li class=""><a href="javascript:">...</a></li>
							   			}
							   		}
							   	}
			  				 }
						}  
                      }
                      @if(productPage.getNumber()==productPage.getTotalPages()){
                      	<li class="next disabled"><a href="javascript:">尾页</a></li>
                      }else{
                      	<li class="next"><a href="@searchParam()page=@{productPage.getTotalPages()-1}">尾页</a></li>
                      }
		                    
		                    
		                    
		                       
		                    </ul>
		                </div>
		            </div>
		        </div>
		        }
		        
		        
		    </div>
		</div>
	</div>
	<!-- /.row (main row) -->

</section>
}{
<script type="text/javascript">
<!--

$("input[type='checkbox']").iCheck({
	checkboxClass : 'icheckbox_square-blue'
});

$("#selectAll").on('ifUnchecked', function() {
	$("input[type='checkbox']", "#proudctTable").iCheck("uncheck");
}).on('ifChecked', function() {
	$("input[type='checkbox']", "#proudctTable").iCheck("check");
});
var productIds = [];
//批量上架
function setProductsBatchValue(){
	var iProductIds = $('input[name="productIdCheckBox"]:checked');
	productIds = [];
	var flag=true;
    if(iProductIds.length) {
    	$.each(iProductIds, function(i, n){
            if(!$(n).closest('tr').find('.status .label').hasClass('label-success')) {
            	var checkStatus = $(n).attr("data-status");
           		if(checkStatus==20 || checkStatus==21 || checkStatus==1){
   	            	productIds.push($(n).val());
               	}else{
               		flag=false;
               		alert("选择项中有数据的当前状态不合法，请查证！");
               		return false;
               	}
            }
        });
    }
	if(flag){
		$("#groudingModal").modal('show');
	}
}

//处理批量上架
$("#groudingButton").on('click', function(){
	$.ajax({
        url: '/product/updateProductsToGrouding',
        type: 'POST',
        cache: false,
        dataType: "json",
        data: {products : JSON.stringify(productIds)},
        success: function(json){
            if(json){
            	location.reload();
            }else{
                alert('服务器繁忙，请稍后再试！');
            }
        },
        error: function(){
            alert('服务器繁忙，请稍后再试！');
        }
    });
});


function setDeleteProductValue(pid,status){
	$('#pidDelete').val(pid);
	$('#pidStatus').val(status);
	$('#endorsementFlag').val(0);
	$('#modalMessage2').hide();
	if(status==30){//删除
		$('#modalMessage').html('确定删除此商品？<br>');
	}
	if(status==10){//上线
		$('#modalMessage').html('确定上线此商品？<br>');
	}
	if(status==20){//下架
		//$('#modalMessage').html('确定下架此商品？<br>');
		var groupStr= "";
		$.ajax({
			url: '/product/getProductGroupByPid/' +pid ,
	        type: 'GET',
	        cache: false,
	        dataType: "json",
	        data: {},
	        success: function(json){
	        	console.log(json);
	            if(json.status!=''){
	            	groupStr = '组合商品ID:'+json.status+'也将一并下架！';
	            }
				$('#modalMessage').html('确认下架此商品？'+groupStr+'<br>');
	        },
	        error: function(){
	            alert('服务器繁忙，请稍后再试！');
	        }
	    });
	}
	if(status==40){//彻底删除
		$('#modalMessage').html('确定彻底删除此商品？<br>');
	}
}
function endorseMent(pid,status){
	$('#pidDelete').val(pid);
	$('#pidStatus').val(status);
	$('#endorsementFlag').val(1);
	$('#modalMessage2').show();
	$('#modalMessage').html('确定设置此商品为代言商品？<br>');
}
//修改商品状态确认button
$('#deleteConfirmButton').on('click', deleteConfirmFunction);
function deleteConfirmFunction(){
	var pidDelete=$('#pidDelete').val();
	var pidStatus=$('#pidStatus').val();
	var endorsementFlag = $('#endorsementFlag').val();
	if(endorsementFlag==1){
		var endorsementPrice=$('#endorsementPrice').val();
		var commision=$('#commision').val();
		var maxEndorsementCount=$('#maxEndorsementCount').val();
		var commisionTyp = $('input[name="commisionTyp"]:checked').val();
		if(endorsementPrice==""){
			alert("请输入建议代言价");
			return false;
		}
		if(commision==""){
			alert("请输入佣金");
			return false;
		}
		if(maxEndorsementCount==""){
			alert("请输入代言上限数量");
			return false;
		}
		$.ajax({
			url: '/product/updateProductEndorsement/' +pidDelete+'/'+endorsementFlag ,
	        type: 'GET',
	        cache: false,
	        dataType: "json",
	        data: {endorsementPrice:endorsementPrice,commision:commision,maxEndorsementCount:maxEndorsementCount},
	        success: function(json){
	            if(json){
	            	$("#deleteProduct").modal('hide');
	            	location.reload();
	            }else{
	                alert('服务器繁忙，请稍后再试！');
	            }
	        },
	        error: function(){
	            alert('服务器繁忙，请稍后再试！');
	        }
	    });
	}else{
		$.ajax({
	        url: '/product/updateProductState/' +pidDelete+'/'+pidStatus ,
	        type: 'GET',
	        cache: false,
	        dataType: "json",
	        data: {},
	        success: function(json){
	            if(json){
	            	$("#deleteProduct").modal('hide');
	            	location.reload();
	            	//if(pidStatus==30){//删除
	                	//$(document).find("tr[data-uid='"+pidDelete+"']").remove();
	            	//}
	            	
	            }else{
	                alert('服务器繁忙，请稍后再试！');
	            }
	        },
	        error: function(){
	            alert('服务器繁忙，请稍后再试！');
	        }
	    });
	}
	
}

changeLyDivDisplay();

$("#type").change(function(){
	changeLyDivDisplay();
})

function changeLyDivDisplay(){
	var type = $('#type option:selected').val();
	//如果类型是联营，则可以选择联营商户
	if(type==3){
		$("#lyDiv").show();
	}else{
		$("#lyDiv").hide();
	}
}

$("[name='imgspan']").each(function(){
	//var listPicSpan = $("this").parent().parent().find("[name='imgspan']").text();
	var listPicSpan= $(this).text();
	console.log($(this).text());
	if(listPicSpan.indexOf('http://image.kjt.com.pre')>-1){
		var current = $(this).parent().parent();
		current.find("#listPicImg").attr("src",listPicSpan.replace("@@40w",""));
	}
})

//-->
</script>

}
