@()@searchParam() = @{
    var href = "?"
    var pid = request().getQueryString("pid")
    var keyWords = request().getQueryString("keyWords")
    var category = request().getQueryString("category")
    var typeNow = request().getQueryString("type")
    var fromsite = request().getQueryString("fromsite")
    var status = request().getQueryString("status")
    var adminid = request().getQueryString("adminid")
     
    var cid = request().getQueryString("cid")
    var pidOrNewSku = request().getQueryString("pidOrNewSku")
    var startNsort = request().getQueryString("startNsort")
    var endNsort = request().getQueryString("endNsort")
    if(pid != "" && pid != null){
        if(href != "?"){
            href += "&"
        }
        href += "pid=" + pid
    }
    if(keyWords != "" && keyWords != null){
        if(href != "?"){
            href += "&"
        }
        href += "keyWords=" + keyWords
    }
    if(category != "" && category != null){
        if(href != "?"){
            href += "&"
        }
        href += "category=" + category
    }
    if(typeNow != "" && typeNow != null){
        if(href != "?"){
            href += "&"
        }
        href += "type=" + typeNow
    }
    if(fromsite != "" && fromsite != null){
        if(href != "?"){
            href += "&"
        }
        href += "fromsite=" + fromsite
    }
    if(status != "" && status != null){
        if(href != "?"){
            href += "&"
        }
        href += "status=" + status
    }
    if(adminid != "" && adminid != null){
        if(href != "?"){
            href += "&"
        }
        href += "adminid=" + adminid
    }
      if(cid != "" && cid != null){
        if(href != "?"){
            href += "&"
        }
        href += "cid=" + cid
    }
    if(pidOrNewSku != "" && pidOrNewSku != null){
        if(href != "?"){
            href += "&"
        }
        href += "pidOrNewSku=" + pidOrNewSku
    }
    if(startNsort != "" && startNsort != null){
        if(href != "?"){
            href += "&"
        }
        href += "startNsort=" + startNsort
    }
    if(endNsort != "" && endNsort != null){
        if(href != "?"){
            href += "&"
        }
        href += "endNsort=" + endNsort
    }
    if(href != "?"){
        href += "&"
    }
    href
}@searchParam()