@(shoppingOrder: models.ShoppingOrder)(orderProductList : List[models.OrderProduct])(soId:String)(sopIds:String)(calRefundFee:Double)(useBalance:Double)
@import utils.Dates
@import utils.Constants.OrderProFlg
@views.html.main{

}{
<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		处理退款
	</h1>
</section>

<!-- Main content -->
<section class="content">
	<div class="col-xs-12">
         <div class="box box-warning">
           <div class="box-header">
           </div><!-- /.box-header -->
           <div class="box-body">
             <form role="form" action="/refund/saveRefund" method="get" id="dealRefundForm">
              <div class="row">
                <label>订单号：</label>@shoppingOrder.getOrderCode()
                <input type="hidden" name="orderCode" id="orderCode" value="@shoppingOrder.getOrderCode()" />
              </div>
              <div class="row">
                <label>收货人信息：</label>
             
	              <div class="row">
	                <div class="col-xs-2">
	                	  收货人：
	                  <input id="name" name="name" type="text" class="form-control" placeholder="请输入收货人" value="@shoppingOrder.getName()" readonly="readonly"/>
	                </div>
	                <div class="col-xs-2">
	                 	 收货人电话：
	                  <input id="phone" name="phone" type="text" class="form-control" placeholder="请输入收货人电话" value="@shoppingOrder.getPhone()" readonly="readonly"/>
	                </div>
	                <div class="col-xs-2">
	                	  省份：
	                  <input id="province" name="province" type="text" class="form-control" placeholder="请输入收货人所在省份" value="@shoppingOrder.getProvince()" readonly="readonly"/>
	                </div>
	                <div class="col-xs-4">
	                 	 地址：
	                  <input id="address" name="address" type="text" class="form-control" placeholder="请输入收货人地址" value="@shoppingOrder.getAddress()" readonly="readonly"/>
	                </div>
	              </div>
             </div>
             <br/>
              <div class="row">
                <label>费用信息：</label>
                <div class="row">
	                <div class="col-xs-2">
	                	  订单总金额：@shoppingOrder.getTotalFee()
	                </div>
	                <div class="col-xs-2">
	                	  优惠券：@shoppingOrder.getCoupon_price()
	                	  <input type="hidden" id="couponPrice" name="couponPrice" value="@shoppingOrder.getCoupon_price()"/>
	                </div>
	                 <div class="col-xs-2">
	                	  钱包：@shoppingOrder.getUsebalance()@if(shoppingOrder.getUsebalance()==null){0.0}
	                </div>
	                 <div class="col-xs-2">
	                	  商品总金额：@shoppingOrder.getGoods_fee()
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-xs-2">
	                 	 国外运费：@shoppingOrder.getForeignfee()
	                </div>
	                <div class="col-xs-2">
	                	  国内运费：@shoppingOrder.getDomestic_fee()
	                </div>
	                <div class="col-xs-2">
	                 	 支付方式：@{
			                      	var paymethodV=shoppingOrder.getPaymethod();
			                      	paymethodV match{
			                      		case -1 => "默认全部"
			                      		case 10 => "微信app"
			                      		case 11 => "微信网页"
			                      		case 20 => "支付宝快捷"
			                      		case 21 => "支付宝wap"
			                      		case 22 => "支付宝国际"
			                      		case 90 => "优惠券"
			                      		case _ => "未知" 
			                      	}
			                    }
			            <input type="hidden" id="paymethod" name="paymethod" value="@shoppingOrder.getPaymethod()"/>
	                </div>
	              </div>
              </div>
              <br/>
              <div class="row">
                <label>商品信息：</label>
             	<input id="soId" name="soId" type="text" class="form-control" style="display: none" placeholder="订单" readonly="readonly" value="@soId"/>
             	<input id="sopIds" name="sopIds" type="text" class="form-control" style="display: none" placeholder="订单商品集合" readonly="readonly" value="@sopIds"/>
                <table id="dealOrderTable" class="table table-bordered table-hover" >
	            	<thead>
	            		<th>选择</th>
	            		<th>状态</th>
	            		<th>PID</th>
	            		<th>newSku</th>
	            		<th>商品图片</th>
	            		<th>商品名称</th>
	            		<th>来源网站</th>
	            		<th>现价</th>
	            		<th>数量</th>
	            		<th>总价</th>
                	</thead>
                	<tbody>
                	  	@if(orderProductList!=null && orderProductList.size() > 0){
	                	@for(orderProduct <- orderProductList){
		                    <tr class="h6" data-uid="@orderProduct.getId()">
		                        <td>
		                        	@if(orderProduct.getFlg()=="2"){
		                        		<input type="checkbox" checked="true" name="sopId" value="@orderProduct.getId()" >
		                        	}else{
			                        	<input type="checkbox" name="sopId" value="@orderProduct.getId()" disabled="disabled">
		                        	}
		                        </td>
		                        <td>
		                        	@OrderProFlg.flgs2Message(orderProduct.getFlg())
		                        </td>
		                        <td>
		                        	@orderProduct.getProduct().getPid()
		                        </td>
		                        <td>
		                        	@orderProduct.getProduct().getNewSku()
		                        </td>
		                        <td>
		                        	<img width="40" height="40" valign="middle" alt="@orderProduct.getProduct().getTitle()" src="@orderProduct.getProduct().getListpic()">
		                        </td>
		                        <td>
		                        	@orderProduct.getProduct().getTitle()
		                        </td>
		                        <td>
		                        	<input type="hidden" id="fromsite"  value="@orderProduct.getProduct().getFromsite()">
		                        	<span name="spanFromsite"></span>
		                        	@{
				                      	var fromsiteV=orderProduct.getProduct().getFromsite();
				                      	fromsiteV match{
				                      		case -1 => "全部"
				                      		case 0 => "嗨个购"
				                      		case 1 => "美国亚马逊"
				                      		case 2 => "韩国"
				                      		case 3 => "日本乐天"
				                      		case 4 => "日本亚马逊"
				                      		case 5 => "莎莎"
				                      		case 6 => "IHERB"
				                      		case 7 => "韩国乐天"
				                      		case 8 => "嗨个购特惠"
				                      		case _ => "未知" 
				                      	}
				                      }
		                        </td>
		                        <td>
		                        	@orderProduct.getPrice()
		                        </td>
		                        <td>
		                        	@orderProduct.getCounts()
		                        </td>
		                        <td>
		                        	@orderProduct.getTotalFee()
		                        </td>
		                    </tr>
		                  }
		                }
                	</tbody>
                </table>
              </div>
              <br/>
              <div class="row">
                <label>退款信息：</label>
                <div class="row">
	                <div class="col-xs-3">
	                	  退款原因：
	                	 <select id="refundReason" name="refundReason" class="form-control">
		                  	<option value="1">我方原因（运费超额退款）</option>
		                  	<option value="2">用户原因（仅退续重）</option>
		                 </select>
	                </div>
	                <div class="col-xs-3">
	                	 <font color="red">应退金额：</font> 
	                	 <input id="calRefundFee" name="calRefundFee" type="hidden" class="form-control" placeholder="计算的应退金额" value="@calRefundFee"/>
	                	 <input id="refundFee" name="refundFee" type="text" class="form-control" placeholder="请确认应退金额" value="@calRefundFee"/>
	                </div>
	                <div class="col-xs-3">
	                  	 <font color="red">钱包应退金额：</font>
	                	 <input id="walletRefundFee" name="walletRefundFee" type="text" class="form-control" placeholder="钱包应退金额" value="@useBalance"/>
	                </div>
	            </div>
	          </div>
              <div class="row">
              	<div class="col-xs-9">
               	备注：
              	<input id="memo" name="memo" type="text" class="form-control" placeholder="备注" value=""/>
               	</div>
	          </div>
			  <div class="box-footer">
               	<button class="btn btn-warning" type="button" id="confirmBtn">确认退款</button>
               	<button class="btn btn-primary" type="button" onclick="history.go(-1)">返回</button>
             </div>
           </form>
         </div><!-- /.box-body -->
       </div><!-- /.box -->
     </div><!--col-xs-12 end 访问查询 -->	
</section>
<!-- /.content -->
}{
<script type="text/javascript">
//针对申请退款的商品进行处理
$("input[name = 'sopId']:checkbox").change(function(){
	$(this).prop("checked",this.checked); 
	var checkedStr = getCheckedSopId();
	console.log(checkedStr);
	if(""==checkedStr){
		$("#refundFee").val("");
		$("#walletRefundFee").val("");
	}else{
		console.log("cal restart");
		calRefundInfo();//重新计算应退金额和钱包应退金额
	}
})
//退款原因更改
$("#refundReason").change(function(){
	var checkedStr = getCheckedSopId();
	console.log(checkedStr);
	if(""==checkedStr){
		$("#refundFee").val("");
		$("#walletRefundFee").val("");
	}else{
		console.log("cal restart");
		calRefundInfo();//重新计算应退金额和钱包应退金额
	}
})

//重新设定推荐值
function calRefundInfo(){
	var soId = $("#soId").val();
	var checkedStr = getCheckedSopId();
	var refundReason = $("#refundReason").val();
	console.log(soId+"<:>"+checkedStr+"<:>"+refundReason);
	$.ajax({
        url: '/refund/calRefundFee',
        type: 'GET',
        cache: false,
        dataType: "json",
        data: {"soId":soId,"sopIds":checkedStr,"refundReason":refundReason},
        success: function(json){
        	console.log(json);
            if(json){
            	$("#refundFee").val(json.calRefundFee);
            	$("#calRefundFee").val(json.calRefundFee);
        		$("#walletRefundFee").val(json.useBalance);
            }else{
                alert('服务器繁忙，请稍后再试！');
            }
        },
        error: function(){
            alert('服务器繁忙，请稍后再试！');
        }
    });
}
//获取选中的sopid 集合
function getCheckedSopId(){
	var array = new Array();
	$("input[name = 'sopId']:checkbox").each(function () {
		if(true==$(this).prop("checked")||"checked"==$(this).prop("checked")){
			array.push($(this).val());
		}
	});
	return array.join(",");
}	
//确认退款
$("#confirmBtn").click(function(){
	//观察退款金额、钱包退款金额、备注
	var checkedStr = getCheckedSopId();
	$("#sopIds").val(checkedStr);
	var flag = true;
	if(flag){
		var flagStr = confirm("请再次确认对所选订单进行退款处理！");
		if(flagStr == true){
			$("#dealRefundForm").submit();
			console.log("succeful , submit");
		}else{
			console.log("用户取消退款操作");
			return false;
		}
	}else{
		alert("存在非法内容，请检查内容合法性！");
		return false;
	}
})
	
</script>
}
